module.exports = {
  getSetteing: function(){
   return {
       //email
      emailUser:"anton@testuser.de",
      emailFrom:"anton@testuser.de",
      emailPass:"geheim",
      emailHost:"posteo.de",
      emailSecure:false,
      emailPort:587,
      reportCronString:"0 0 12 1 *", //every minute : "* * * * *" once a month: "0 0 12 1 *"
      reportRecipients: "wichtig@hpi.de" //, separated
   };   
  }
}; 
