<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ./head %>
    <% include ./chartHead %>
    <script>var fields = [
    "download",
    "browse",
    "subscribe",
    "stream",
    "auto_download"
  
  ];
  startDate = null;
  endDate = null;
  </script>
    <script src="/view/assets/js/parameters.js"></script>
    
    <script src="/view/assets/js/chart1.js" type="text/javascript"></script>
    <script src="/view/assets/js/chart2.js"></script>
    <script src="/view/assets/js/chart3.js"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="/view/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <% include ./header %>

    <!-- End of Header -->
    <!-- Section for the pdf-report-button and dropdown -->
    <%if (typeof print == 'undefined' || print != "true") { %>
    <section id="reports">
      <div class="container">
        <div class="row">
          <!-- DropDown Button Zeitraum -->
          <div class="col-xs-4 col-sm-4 col-md-4 text-left">
            <div class="btn-group">
              <button type="button" class="btn btn-red dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Zeitraum
              </button>
              <div class="dropdown-menu">
                <button type="button" class="dropdown-item" onclick="dateToLast3Days()">letzten 3 Tage</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item" onclick="dateToLastWeek()">letzte Woche</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item" onclick="dateToLastMonth()">letzter Monat</button>
                <!--<div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">bel. Zeitraum</a>-->
              </div>
              <!-- End of dropdown-menu -->
            </div>
            
            
            
            <!-- End of btn-group -->
        <!-- DropDown Button Datenart-->
          <div class="btn-group">
            <button type ="button" class="btn btn-red dropdown-toggle" style="cursor:pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Datensatz
            </button>
              <div class="dropdown-menu">
                <label class="dropdown-item"><input type="checkbox" value="" id="checkbox0" onchange="checkBoxChanged()" checked="true"> Downloads</label>
                <div class="dropdown-divider"></div>
                <label class="dropdown-item"><input type="checkbox" value="" id="checkbox1" onchange="checkBoxChanged()"> Besucher</label> <!-- Browse -->
                <div class="dropdown-divider"></div>
                <label class="dropdown-item"><input type="checkbox" value="" id="checkbox2" onchange="checkBoxChanged()"> Abonnenten</label>
                <div class="dropdown-divider"></div>
                <label class="dropdown-item"><input type="checkbox" value="" id="checkbox3" onchange="checkBoxChanged()"> Streams</label>
                <div class="dropdown-divider"></div>
                <label class="dropdown-item"><input type="checkbox" value="" id="checkbox4" onchange="checkBoxChanged()"> Auto Downloads</label>
              </div>
          </div>
        </div>
        <div class='col-sm-2'>
            <input class="form-control" id='startDatePicker' onchange="dateFieldChanged()"/>
        </div>
            <div class='col-sm-2'>
            <input class="form-control" id='endDatePicker' onchange="dateFieldChanged()"/>
        </div>
        

            <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                <div class="btn-group">
                <!-- Tipp -->
                  <!-- Trigger the modal with a button -->
                  <button id="open-tipp" style="cursor:pointer" type="button" class="btn btn-red" data-toggle="modal" data-target="#TippModal">Tipp öffnen</button>

                  <!-- Modal -->
                  <div class="modal fade" id="TippModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4>Tipp:</h4>
                        </div>
                        <div class="modal-body">
                          <ul>
                            <li>Nutzen Sie die Tooltips, um mehr Informationen zu erhalten.</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn" style="cursor:pointer" data-dismiss="modal">Fenster schließen</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tipp END -->
                <!-- Button fuer den PDF-Report -->
              <button type="submit" class="btn btn-red" id="download-report" style="cursor:pointer";>PDF Report erstellen</button>
            </div>
          </div>
        <!-- End of Row -->
      </div>
      <!-- End of Container -->
    </section>
<% } %>

    <!-- Section for data tables from chart.js -->
    <section id="tables">
      <div class="container">
        <div class="row">
          <!-- First Chart with number of downloads from all HPi-Courses -->
          <div class="col-xs-12 col-sm-12 col-md-12 charts">
            <div class="chart1" id="chart1">
              <canvas id="myChart"></canvas>
              <script type="text/javascript">
                    showChart1("myChart",fields);  
              </script>
            </div>
            <!-- Second Chart with number of downloads for top 5 HPI-Courses -->
            <div class="chart2" id="chart2">
              <canvas id="myChart2"></canvas>
              <script>showChart2("myChart2","Interaktionen der Top-10-HPI-Kurse", startDate, endDate, fields);</script>
            </div>
            <!-- Third Chart with number of downloads in a certain period -->
            <!-- Course search -->
            
            <%if (typeof print == 'undefined' || print != "true") { %>
            <div class="input-group my-group">
              <!--<select id="kurs" class="selectpicker form-control" data-live-search="true" title="Bitte wählen Sie einen Kurs aus ...">
                <option>Kurs_1</option>
                <option>Kurs_2</option>
                <option>Kurs_3</option>
              </select>-->
              <input type="text" id="kurs" title="Bitte wählen Sie einen Kurs aus ..." />
              <span class="input-group-btn">
              <script>

              $(function(){
                $("#kurs").autocomplete({
                    source: function( request, response ) {
                        $.ajax( {
                            url: "/api/courses",
                            dataType: "json",
                            data: {
                                startingWith: request.term
                            },
                            success: function( data ) {
                            console.log(data);
                            var displayData = new Array();
                            $.each(data,function(key,value){
                                displayData.push($.parseHTML(value.title)[0].data);
                            });
                                response( displayData );
                            }
                        } );
                    }
                });
              });

              </script>
              <button class="btn btn-default" style="cursor: pointer;" type="submit" onclick="loadDataForChart3(document.getElementById('kurs').value)"><i class="fa fa-search"></i></button></span>
            </div>
            <!-- Course search END -->
            <!-- Third chart -->
            <div class="chart3" id="chart3">
              <canvas id="myChart3"></canvas>
              <script>
                showChart3("myChart3");
              </script>
            </div>
          </div>
          <% } %>
        </div>
        <!-- End of row -->
      </div>
      <!-- End of Container -->
    </section>
    <!-- End of Section with Charts -->


    <% include ./footer %>

    <!-- Einbinden des JS fuer den Report erstellen -->
    <!-- Muss am Ende des Bodys stehen, sonst kein Download moeglich -->
    <script src="/view/assets/js/report.js"></script>
  </body>
</html>
