<header id="header">
        <div class="container">
            <nav class="navbar">

                <div class="navbar-header">
                    <a class="navbar-brand" href="login.html"><img src="/view/img/banner.png" width="200px;">
                    </a>
                </div>
            </nav>
        </div>


    </header> 
