<!DOCTYPE html>
<html lang="de">

<head>
<% include ./head %>
</head>

<body>
    
    <% include ./header %>

    <section id="upload">

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="box">
                        Import erfolgreich! <br><br>
                        Von insgesamt <%= allEntries %> Einträgen wurden <%= newEntries %> neue in die Datenbank übernommen.

                    </div>
                    <!-- End of box -->
                </div>
                <!-- End of coloumn -->
            </div>
            <!-- End of row -->
        </div>
        <!-- End of container -->

    </section>
    <!-- End of section login -->


 <% include ./footer %>



</body>

</html>
